html{
    font-size: 22px;
}

body{
    font-size: 22px;
}

main{
    font-family: monospace;
}

h1, h2{
    color: blue;
}

button, input, textarea, select{
    font: inherit;
}

.gray{
    color: gray;
}

p{
    color: red;
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}


#second{
    font-style: italic;
}